<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body class="bg-dark">
    <header class="container bg-dark">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="/"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Logout</a>
        </li>
      </ul>
      <h1 class="m-3 md:m-6 text-info">Tech Blog</h1>

    </header>
    {{{body}}}
  </body>
</html>