<div class="container">
  <form action="">
    <button type="submit" id="renderPostContainer" class="btn btn-primary">
      Create a Post!</button>
  </form>

</div>

{{! Renders this container when btn is clicked }}
<div class="container rounded-3 bg-light p-3">
  <form action="">

    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label text-dark">Title:
      </label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Enter Title"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label text-dark">Blog
        Post:
      </label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="Enter Text"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>